{{ $paginator := .Paginator }}

<div class="grid grid-cols-2 pb-10 font-semibold">
  <!-- Previous page. -->
  <div>
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}" class="pagination-button">
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-left" }}
      </span>
      최신 글
    </a>
    {{ end }}
  </div>

  <!-- Next page. -->
  <div class="flex justify-end">
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}" class="pagination-button">
      이전 글
      <span class="w-4 h-4 stroke-2">
        {{ partial "utils/icon" "arrow-right" }}
      </span>
    </a>
    {{ end }}
  </div>
</div>
