@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter-100 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src:
      local(""),
      url("../fonts/inter-v12-latin-100.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-200 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src:
      local(""),
      url("../fonts/inter-v12-latin-200.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-300 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src:
      local(""),
      url("../fonts/inter-v12-latin-300.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-regular - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local(""),
      url("../fonts/inter-v12-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-500 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src:
      local(""),
      url("../fonts/inter-v12-latin-500.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-600 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src:
      local(""),
      url("../fonts/inter-v12-latin-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-700 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src:
      local(""),
      url("../fonts/inter-v12-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-800 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src:
      local(""),
      url("../fonts/inter-v12-latin-800.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-900 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src:
      local(""),
      url("../fonts/inter-v12-latin-900.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/inter-v12-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  body {
    @apply text-base text-justify text-gray-700 bg-white dark:bg-gray-900 dark:text-gray-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply pt-2 mb-4 font-bold text-gray-900 dark:text-gray-300;
  }

  h1 {
    @apply text-3xl leading-snug;
  }

  h2 {
    @apply text-2xl leading-snug;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  hr {
    @apply border-gray-200 dark:border-gray-700;
  }

  p,
  hr,
  pre,
  dl {
    @apply mb-4 leading-relaxed text-justify;
  }

  article > h1 {
    @apply mb-1;
  }

  code {
    @apply px-2 py-0.5 text-sm bg-gray-100 border rounded-lg dark:bg-gray-800 dark:border-gray-700;
  }

  pre {
    @apply p-4 overflow-auto text-sm leading-relaxed border rounded-lg dark:border-gray-700;
  }

  pre code {
    @apply px-0 bg-transparent border-0;
  }

  figure {
    @apply mb-4;
  }

  figcaption {
    @apply mt-1.5 text-sm text-gray-500 dark:text-gray-400;
  }

  blockquote {
    @apply pl-4 mb-4 text-base italic text-gray-600 border-l-4 border-gray-300 dark:text-gray-400 dark:border-gray-700;
  }

  ul,
  ol {
    @apply mb-4 ml-6;
  }

  ol {
    counter-reset: ol-counter;
  }

  ol > li {
    counter-increment: ol-counter;
  }

  ol > li::marker {
    content: counter(ol-counter) ". ";
  }

  ol ol > li::marker {
    content: counters(ol-counter, "-") ". ";
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    list-style-type: circle;
  }

  ul ul ul {
    list-style-type: square;
  }

  ol ol,
  ol ul,
  ul ol,
  ul ul {
    @apply mt-1 mb-1.5 ml-5;
  }

  nav ul,
  footer ul {
    @apply ml-0 list-none;
  }

  header {
    @apply mx-auto sm:mx-0;
  }

  header h1 {
    @apply mb-0;
  }

  #content ul > li,
  #content ol > li {
    @apply mb-2 leading-relaxed;
  }

  #content li > p {
    @apply mb-1 leading-relaxed;
  }

  #content li > p:last-child {
    @apply mb-0;
  }

  table {
    @apply w-full mb-5 border border-separate rounded-md border-spacing-0;
  }

  thead th {
    @apply px-3 py-2 border-b-2 border-r last:border-r-0;
  }

  tbody td {
    @apply px-3 py-2 text-base border-b border-r last:border-r-0;
  }

  tbody tr:last-child td {
    @apply border-b-0;
  }

  dt {
    @apply italic font-bold;
  }

  dd {
    @apply pl-10;
  }

  header nav > ul {
    @apply flex flex-wrap justify-center text-xs font-semibold uppercase gap-7;
  }

  nav a,
  footer a {
    @apply font-semibold text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100;
  }

  footer {
    @apply text-xs;
  }
}

@layer utilities {
  nav a.active {
    @apply text-gray-900 dark:text-gray-100;
  }

  /* Content overrides */
  #content {
    @apply leading-normal;
  }

  #content a {
    @apply font-bold underline text-emerald-700 hover:text-emerald-600 dark:text-emerald-300 dark:hover:text-emerald-200;
  }

  #content .date {
    @apply py-2 text-sm font-semibold text-gray-400;
  }

  #content h1 > a {
    @apply text-xl font-bold text-gray-900 no-underline hover:underline dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-100;
  }

  #content .meta {
    @apply flex gap-3 mt-2 text-sm font-semibold text-gray-500 dark:text-gray-400;
  }

  #content .meta a {
    @apply no-underline;
  }

  #content .description {
    @apply text-base text-gray-600 dark:text-gray-300;
  }

  #content .read-more {
    @apply inline-flex items-center gap-2 text-sm font-semibold no-underline text-emerald-700 hover:text-emerald-600 dark:text-emerald-300 dark:hover:text-emerald-200;
  }

  #content .footnotes {
    @apply text-sm;
  }

  #content .footnotes p {
    @apply inline-block mb-0;
  }

  #content .footnotes ol {
    @apply block;
  }

  #content .footnotes li {
    @apply mb-3;
  }

  #content .alert-box {
    @apply px-4 pt-4 pb-1 mb-5 border-t-4;
  }

  #content .alert-box .alert-title {
    @apply px-0 py-0 mb-2 text-lg font-semibold text-inherit;
  }

  #content .alert-box a {
    @apply text-inherit hover:text-inherit;
  }

  #content .alert-box .alert-icon {
    @apply mr-2 w-7 h-7;
  }

  #content .alert-box.warning {
    @apply text-yellow-900 bg-yellow-100 border-yellow-500;
  }

  #content .alert-box.info {
    @apply text-blue-900 bg-blue-100 border-blue-500;
  }

  #content .alert-box.success {
    @apply text-green-900 bg-green-100 border-green-500;
  }

  #content .alert-box.error {
    @apply text-red-900 bg-red-100 border-red-500;
  }

  #content .table-of-contents {
    @apply p-4 text-gray-700 bg-gray-100 border rounded-lg dark:bg-gray-800 dark:text-gray-300 dark:border-gray-700;
  }

  #content .table-of-contents #TableOfContents ul {
    @apply ml-4 list-decimal list-inside;
  }

  #content .table-of-contents #TableOfContents ul li {
    @apply my-2 text-base;
  }

  #content .table-of-contents #TableOfContents ul li a {
    @apply font-normal text-gray-700 no-underline dark:text-gray-300 hover:underline hover:text-emerald-600 dark:hover:text-emerald-200;
  }

  #content .pagination-button {
    @apply inline-flex items-center gap-2 px-3 py-2 text-sm text-gray-700 no-underline bg-white border border-gray-300 rounded-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-900 hover:bg-gray-50 dark:hover:bg-gray-800 hover:text-gray-900 dark:hover:text-gray-100;
  }

  #content .taxonomy-list {
    @apply flex flex-row flex-wrap ml-0 list-none gap-x-2 gap-y-0;
  }

  #content .taxonomy-list a {
    @apply px-3 py-2 text-base font-normal text-gray-800 no-underline bg-gray-100 rounded-lg dark:text-gray-400 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700;
  }

  #content .tags-list {
    @apply gap-y-2;
  }

  #content span.task-list + ul {
    @apply list-none;
  }

  /* Misc */
  #site-title {
    @apply text-4xl font-extrabold text-center text-gray-800 sm:text-left dark:text-gray-100;
  }

  .header {
    @apply flex flex-row items-center justify-between w-full;
  }

  .header .toggle-theme {
    @apply absolute w-6 h-6 top-8 right-8 sm:relative sm:top-0 sm:right-0;
  }

  .title-large {
    @apply text-4xl font-bold leading-snug text-gray-900 dark:text-gray-300;
  }

  .title-small {
    @apply text-2xl font-extrabold text-gray-900 dark:text-gray-300;
  }
}
